@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#wrap {
	font-family: 'GmarketSansMedium';
	height: 1000px;
	background-color: #f2f2f2;
}

/*======.as_wrap 시작======*/
#as_wrap {
	width: 1000px;
	margin: 0 auto;
	display: flex;
}

/*.as_menu======*/
.as_menu {
	margin-right: 50px;
}

.as_title {
	font-size: 20px;
	text-align: left;
	line-height: 1.5em;
	font-weight: bold;
	padding: 60px 0 0 0;
}

.as_position {
	padding: 10px 20px 10px 30px;
}

.as_position a {
	font-size: 16px;
	font-weight: 900;
	color: #333333;
	box-shadow: inset 0 -10px 1px #33ffcc;
}

.as_proposal {
	padding: 0px 20px 0px 30px;
	margin-bottom: 10px;
}

.as_proposal a {
	font-size: 16px;
	font-weight: normal;
}

.as_proposal a:hover {
	color: #33ffcc;
	font-weight: bold;
}
/*.as_menu 끝=======*/

/*.as_edit 시작======*/
.as_edit {
	width: 723px;
	border: 1px solid #bbb;
	padding: 40px 30px 30px 40px;
	margin-top: 100px;
	border-radius: 5px;
	background: #fff;
}

.as_edit strong {
	font-size: 18px;
	font-weight: 900;
}

.as_edit span {
	line-height: 50px;
	color: #bbb;
}
/*.as_edit 끝======*/

/*.as_img 시작=====*/
.as_edit .as_img .photo {
	text-align: center; /*삭제*/
	margin-right: 20px;
	border-radius: 50%;
}

.as_edit .as_img .photo .input_img {
	width: 97px;
	height: 97px;
	overflow: hidden;
	margin: 20px 0;
	border-radius: 50%;
	background-color: #bbb;
}

.as_edit .as_img {
	display: flex;
}

.as_edit .as_img .img div {
	display: inline-block;
	margin-top: 60px;
}

.as_edit .as_img .img .plus .input_file {
	width: 23px;
	height: 23px;
	color: #fff;
	background: #0000ee;
	border: 1px solid #0000ee;
	border-radius: 50px;
	font-size: 25px;
	margin-left: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.as_edit .as_img .img input {
	display: none;
}

.as_edit .as_img .img .text {
	color: #0000ee;
	font-weight: 700;
	font-size: 16px;
}
/*.as_edit 끝======*/

/*.as_detail 시작====*/
/*공통*/
.as_detail_name, .as_detail_email, .as_detail_phone {
	display: flex;
	margin-bottom: 30px;
}

.as_detail_name h6, .as_detail_email h6, .as_detail_phone h6 {
	width: 132px;
	font-weight: normal;
	color: #bbb;
	padding: 25px 0 0 20px;
}

.as_detail_name p, .as_detail_email p, .as_detail_phone p {
	width: 420px;
	padding-bottom: 10px;
	border-bottom: 1px solid #0d0d12;
}

.as_detail_name input, .as_detail_email input, .as_detail_phone input {
	font-family: 'GmarketSansMedium';
	width: 300px;
	height: 40px;
	padding: 6px 12px;
	border: none;
	outline: none;
}

.as_detail_name .input_userName, .as_detail_email .input_email,
	.as_detail_phone .input_phone {
	border-bottom: 1px solid #000;
}


/*.as_button*/
.as_button button {
	font-family: 'GmarketSansMedium';
	margin: 20px 0 0 430px;
	width: 226px;
	height: 40px;
	font-size: 18px;
	border-radius: 40px;
	border: 1px solid #bbb;
	background-color: #f4f4f4;
}

.as_button button:hover {
	cursor: pointer;
	color: #33ffcc;
	background-color: #0d0d26;
	border: 1px solid #0d0d26;
}