@charset "UTF-8";
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.company_info_detail_wrap {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
}

/*///////////////////////// explain /////////////////////////*/
.explain {
    font-family: 'Pretendard-Regular';
    width: 1000px;
    margin: 0 auto;
}

.explain .intro_company {
    display: flex;
    justify-content: space-between;
}

.explain .intro_company .left {
	margin-top: 30px;
    width: 490px;
}

.explain .intro_company .left .picture{
    width: 700px;
    width: 490px;
}

.explain .intro_company .left .picture img {
    width: 700px;
    height: 490px;
    overflow: hidden;
    position: relative;
}

.explain .intro_company .left .text {
    width: 700px;
    font-size: 16px;
    margin-top: 20px;
}

.explain .skills {
    margin-top: 20px;
    width: 700px;
}

.explain .skills ul {
    display: flex;
    justify-content: space-between;
}

.explain .skills ul li {
    background-color: #f4f4f4;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 14px;
    color: #888;
}

.explain .intro_company .right .right_default{
    margin-top: 30px;
    width: 222px;
    height: 406px;
    padding: 25px;
    border: 1px solid #bbb;
    color: #333;
    position: relative;
}

.explain .intro_company .right .text {
    width: 100%;
    color: #191819;
}

.explain .intro_company .right .text h2 {
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #191819;
}

.explain .intro_company .right .text strong {
    font-size: 18px;
    font-weight: bold;
}

.explain .intro_company .right .buttons {
    width: 100%;
    height: 150px;
}

.explain .intro_company .right .buttons .default {
    position: absolute;
    bottom: 5%;
}

.explain .intro_company .right .buttons .default a {
    display: block;
    width: 100%;
}

.explain .intro_company .right .buttons ul .subscribe {
    margin-top: 13px;
    width: 162px;
    background-color: #f2f2f2;
    padding: 13px 30px;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
}

.explain .intro_company .right .buttons ul .subscribe:hover {
    margin-top: 13px;
    width: 162px;
    background-color: #0d0d26;
    padding: 13px 30px;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
}

.explain .intro_company .right .buttons ul .subscribe:hover a {
	color: #33ffcc;
}

.explain .notice {
    margin-top: 20px;
    background-color: #f4f4f4;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.explain .notice .text {
    font-size: 12px;
    color: #888;
}

.right .information ul li {
    border-bottom: 1px solid #888;
    padding: 10px;
    margin-bottom: 10px;
    width: 202px;
}

.right .information ul li h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.right .information ul li p {
    font-size: 16px;
    color: #888;
}

.right .follow {
    position: sticky;
    top: 30px
}

/*///////////////////////// wanteds /////////////////////////*/
.company_info_detail_wrap .container {
	padding-top : 50px;
}

.company_info_detail_wrap .container h3 {
    margin-top: 50px;
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    font-weight: bold;
}

.company_info_detail_wrap .wanteds {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.company_info_detail_wrap .container  {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.company_info_detail_wrap .container .wanteds .wanted {
    width: 100%;
    padding: 10px;
    width: 230px;
    height: 330px;
    margin-bottom: 20px;
}

.company_info_detail_wrap .container .wanteds .picture {
    width: 230px;
    height: 175px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.company_info_detail_wrap .container .wanteds .picture img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.company_info_detail_wrap .container .wanteds .wanted_text .title h2 {
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    width: 230px;
    height: 40px;
    line-height: 20px;
    text-overflow: clip;
  	overflow: hidden;    /* 내용이 길면 감춤니다 */
  	display: block;     /* ie6이상 현재요소를 블럭처리합니다. */
}

.company_info_detail_wrap .container .wanteds .wanted_text .content p {
    font-size: 13px;
    color: #888;
    width: 230px;
    height: 40px;
    line-height: 16px;
    text-overflow: ellipsis;  /* 위에 설정한 100px 보다 길면 말줄임표처럼 표시합니다. */
  	white-space: nowrap;    /* 줄바꿈을 하지 않습니다. */
  	overflow: hidden;    /* 내용이 길면 감춤니다 */
  	display: block;     /* ie6이상 현재요소를 블럭처리합니다. */
}

.company_info_detail_wrap .container .wanteds .company_intro .company_region {
    font-size: 13px;
    color: #888;
    padding: 10px 0;
    width: 230px;
    height: 10px;
}

.company_info_detail_wrap .container .wanteds .company_intro .company_name {
    font-size: 13px;
}