@charset "UTF-8";

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.3;
}

#wrap {
    background-color: rgb(248, 248, 248);
    font-family: 'GmarketSansMedium';
}

#mp_wrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(248, 248, 248);
}

#mp_wrap .mypage {
    width: 250px;
    padding: 24px 25px 40px 0px;
}

.mypage_title {
    font-size: 20px;
    font-weight: 900;
    padding: 15px 0px;
    color: #0d0d12;
}

.mp_info {
    border: 1px solid #bbb;
    border-radius: 5px 5px 0px 0px;
    background: #fff;
}

#mp_wrap .mp_contents {}

.mp_account {
    border-bottom: 1px solid #bbb;
    padding: 34px 0 0 0;
}

.mp_account .mp_img {
    width: 80px;
    height: 80px;
    background: #33ffcc;
    display: block;
    margin: 0 auto;
    border-radius: 80px;
}

.mp_acc .mp_name {
    color: rgb(94, 94, 94);
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.mp_acc .mp_call {
    text-align: center;
    font-size: 14px;
    color: #5E5E5E;
}

.mp_acc .mp_email {
    text-align: center;
    margin: 0px 0px 30px 0px;
    font-size: 14px;
    color: #5E5E5E;
}

.mp_acc_setting button {
    width: 216px;
    height: 37px;
    margin: 0px 0px 34px 17px;
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    line-height: 37px;
    border: none;
}

.mp_acc_setting button a {
    color: #5E5E5E;
    display: block;
    font-size: 13px;
    font-family: 'GmarketSansMedium';
}

.mp_acc_setting button:hover {
    background: #0d0d12;
}

.mp_acc_setting button a:hover {
    color: #33ffcc;
}

.mp_status {
    padding: 15px;
}

.mp_status ul li {
    padding-bottom: 18px;
}

.mp_status ul li a {
    display: flex;
    justify-content: space-between;
    color: #333333;
    font-size: 14px;
    font-family: 'GmarketSansMedium';
}

.mp_status ul li .notifications {
    width: 25px;
    height: 17px;
    color: #0d0d26;
    background-color: #33ffcc;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 13px;
    margin: 0 115px 3px 0;
}

.mypage .logout button {
    border: none;
    background: none;
    display: block;
    margin: 0 auto;
    padding: 25px;
    font-family: 'GmarketSansMedium';
}

.mypage .logout button a {
    color: #5E5E5E;
    display: block;
    font-size: 14px;
    font-family: 'GmarketSansMedium';
}

.mypage .logout button a:hover {
    color: #0d0d12;
}

.mp_applications {
    width: 723px;
    border: 1px solid #bbb;
    margin: 80px 0 20px 0;
    border-radius: 5px;
    background: #fff;
}

.mp_application_title {
    padding: 30px;
    font-size: 18px;
    color: #333333;
}

.mp_application_counts {
    display: flex;
    justify-content: space-evenly;
}

.mp_app_all {
    padding: 6px 0px 56px 120px;
}

.mp_app_all:hover a p {
    color: #33ffcc;
}

.mp_app_all .mp_all_count {
    border-right: 1.5px solid #bbb;
    font-size: 36px;
    padding: 0 80px 0 0;
    color: #333333;
    text-align: center;
}

.mp_app_all .mp_all_text {
    border-right: 1.5px solid #bbb;
    padding: 0 80px 0 0;
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.mp_app {
    padding: 6px 0 56px 70px;
}

.mp_app:hover a p {
    color: #33ffcc;
}

.mp_app .mp_count {
    border-right: 1.5px solid #bbb;
    font-size: 36px;
    padding: 0 80px 0 0;
    color: #333333;
    text-align: center;
}

.mp_app .mp_text {
    border-right: 1.5px solid #bbb;
    padding: 0 80px 0 0;
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.mp_app_final {
    padding: 6px 100px 56px 70px;
}

.mp_app_final:hover a p {
    color: #33ffcc;
}

.mp_app_final .mp_final_count {
    font-size: 36px;
    color: #333333;
    text-align: center;
}

.mp_app_final .mp_final_text {
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.mp_position {
    width: 723px;
    border: 1px solid #bbb;
    margin: 0 0 20px 0;
    border-radius: 5px;
    background: #fff;
}

.mp_position_title {
    padding: 30px;
    font-size: 18px;
    color: #333333;
}

.mp_pro_contents {
    display: flex;
}

.mp_profile_position {
    font-size: 16px;
    padding: 0 210px 40px 35px;
    color: #333333;
}

.mp_profile_position span {
    font-weight: 900;
    color: #333333;
    font-size: 16px;
    display: inline;
    box-shadow: inset 0 -10px 1px #33ffcc;
}

.mp_position button {
    width: 197px;
    height: 38px;
    border-radius: 50px;
    background: #33ffcc;
    border: none;
    text-align: center;
    line-height: 38px;
}

.mp_position button a {
    color: #0d0d12;
    font-size: 15px;
    display: block;
    font-family: 'GmarketSansMedium';
}

.mp_position button:hover {
    background: #0d0d12;
}

.mp_position button a:hover {
    color: #33ffcc;
}

.mp_recommend {
    width: 723px;
    height: auto;
    border: 1px solid #bbb;
    margin: 0 0 100px 0;
    border-radius: 5px;
    background: #fff;
}

.mp_reco_title {
    padding: 30px;
    font-size: 18px;
    color: #333333;
}

.mp_recommend .mp_recos {
    display: flex;
}

.mp_reco1 {
    width: 150px;
    height: auto;
    margin: 0 15px 0 39px;
}

.mp_reco1:hover a .mp_reco_com_title {
    color: #33ffcc;
}

.mp_reco1:hover a .mp_reco_com_content {
    text-decoration: underline;
}

.mp_reco1:hover a .mp_company_name {
    text-decoration: underline;
}

.mp_recommend .mp_recos .mp_reco1 .mp_reco1_1 img {
    width: 150px;
    height: 130px;
}

.mp_reco2 {
    margin: 0 15px 0 0px;
}

.mp_reco2:hover a .mp_reco_com_title {
    color: #33ffcc;
}

.mp_reco2:hover a .mp_reco_com_content {
    text-decoration: underline;
}

.mp_reco2:hover a .mp_company_name {
    text-decoration: underline;
}

.mp_recommend .mp_recos .mp_reco2 .mp_reco2_1 img {
    width: 150px;
    height: 130px;
}

.mp_reco3 {
    margin: 0 15px 0 0px;
}

.mp_reco3:hover a .mp_reco_com_title {
    color: #33ffcc;
}

.mp_reco3:hover a .mp_reco_com_content {
    text-decoration: underline;
}

.mp_reco3:hover a .mp_company_name {
    text-decoration: underline;
}

.mp_recommend .mp_recos .mp_reco3 .mp_reco3_1 img {
    width: 150px;
    height: 130px;
}

.mp_reco4 {
    margin: 0 39px 0 0px;
}

.mp_reco4:hover a .mp_reco_com_title {
    color: #33ffcc;
}

.mp_reco4:hover a .mp_reco_com_content {
    text-decoration: underline;
}

.mp_reco4:hover a .mp_company_name {
    text-decoration: underline;
}

.mp_recommend .mp_recos .mp_reco4 .mp_reco4_1 img {
    width: 150px;
    height: 130px;
}

.mp_reco_com_title {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

.mp_reco_com_content {
    color: #9E9E9E;
    font-size: 12px;
    width: 150px;
    height: 55px;
}

.mp_reco1 .mp_company {
    margin-bottom: 40px;
}

.mp_reco1 .mp_company p {
    font-size: 13px;
}

.mp_reco2 .mp_company p {
    font-size: 13px;
}

.mp_reco3 .mp_company p {
    font-size: 13px;
}

.mp_reco4 .mp_company p {
    font-size: 13px;
}